{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="{% static 'css\output.css' %}">
    <link rel="stylesheet" href="{% static 'css\output.css' %}">

</head>
<body>
    <h1>Welcome to the register page</h1>
    <main>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit"  class="w-22 p-2 bg-yellow-500 text-black" >
                SignUp
            </button>
            
        </form>
    </main>
</body>
</html>