{% extends "base.html" %}

{% block content %}

<div class="min-h-screen bg-gray-100 flex">

    <!-- SIDEBAR -->
    <aside class="w-64 bg-white shadow-lg p-6 hidden md:block">
        <h1 class="text-2xl font-bold mb-8">📘 Study Dashboard</h1>

        <nav class="space-y-4">
            <a class="block p-3 rounded-lg hover:bg-blue-100 font-medium" href="/">Dashboard</a>
            <a class="block p-3 rounded-lg hover:bg-blue-100 font-medium" href="{% url 'allVocabularyView' %}">Vocabulary</a>
            <a class="block p-3 rounded-lg hover:bg-blue-100 font-medium" href="{% url 'allGrammarView' %}">Grammar</a>
            <a class="block p-3 rounded-lg hover:bg-blue-100 font-medium" href="{% url 'sentencesView' %}">Sentences</a>
            <a class="block p-3 rounded-lg hover:bg-blue-100 font-medium" href="{% url 'readingView' %}">Reading</a>
            <a class="block p-3 rounded-lg hover:bg-blue-100 font-medium" href="{% url 'speakingContentView' %}">Speaking</a>
        </nav>
    </aside>


    <!-- MAIN CONTENT -->
    <main class="flex-1 p-6 space-y-10">

        <!-- HEADER -->
        <header>
            <h2 class="text-3xl font-bold">👋Hey,  Welcome Back</h2>
            <p class="text-gray-600">Let’s check the Notes if any special play for today.</p>
        </header>


                <!-- READING PRACTICE -->
                <section id="reading" class="bg-white p-6 rounded-xl shadow">
                    <h3 class="text-2xl font-bold mb-3">📖 Checking and Create Note every day is a good Practice</h3>
                    <p class="text-gray-700 mb-4">📄 All {{ cnt }} Notes </p>
        
                    {% for n in notes %}
                    <details class="bg-yellow-50 p-4 rounded-lg mb-4">
                        <summary class="font-semibold text-yellow-700 text-lg">{{ n.title }}</summary>
                            <div class="mt-4">
                                
                                    <p class="leading-7">
                                        {{ n.content|safe }}
                                    </p>
                                    
                            </div>
                        </details>
                    {% endfor %}
                </section>
        

    </main>
</div>


{% endblock content %}